<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wulee.simplepicture">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.RegistActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.DrawPicActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".moudle.whiteboard.MultiImageSelectorActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".ui.UploadPicActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.MySimPicActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.UserHomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.FollowUserActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.BigMultiImgActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>


        <provider
            android:name=".utils.MyProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <!-- 解决 Android N 7.0 上 报错：android.os.FileUriExposedException-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wulee.simplepicture"
            android:grantUriPermissions="true"
            android:exported="false"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource"/>
        </provider>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <meta-data android:value="5b9f8d5a8f4a9d48e500003d" android:name="UMENG_APPKEY"/>
    </application>

</manifest>